rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for admin role
    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    // Helper function to check if a user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Users can read their own data, and admins can read/write any user data.
    match /users/{userId} {
      allow read: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
      allow write: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
      allow create: if isAuthenticated();
    }

    // Any authenticated user can read events. Only admins can manage them.
    match /events/{eventId} {
      allow read: if isAuthenticated();
      allow write, create, delete: if isAdmin();
    }

    // Any authenticated user can send messages. Users can delete their own messages. Admins can delete any.
    match /messages/{messageId} {
        allow read, create: if isAuthenticated();
        allow delete: if (isAuthenticated() && resource.data.user == request.auth.token.name) || isAdmin();
    }
    
    // Any authenticated user can create reports. Only admins can read, update or delete them.
    match /reports/{reportId} {
        allow create: if isAuthenticated();
        allow read, update, delete: if isAdmin();
    }
    
    // Only admins can read activity logs. All authenticated users can create them.
    match /activities/{activityId} {
        allow read: if isAdmin();
        allow create: if isAuthenticated();
    }
  }
}
