rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAuth() {
      return request.auth != null;
    }
    
    function isUser(userId) {
      return isAuth() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isAuth() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    // Users Collection
    match /users/{userId} {
      // Anyone authenticated can view user profiles (for council page, etc.)
      allow read: if isAuth();

      // A user can create their own user document
      allow create: if isUser(userId);
      
      // A user can update their own non-sensitive data
      // An admin can update any user's data
      allow update: if (isUser(userId) && !("isAdmin" in request.resource.data)) || isAdmin();
    }

    // Events Collection
    match /events/{eventId} {
      // Anyone can read events
      allow read: if true;
      // Only admins can create, update, or delete events
      allow write: if isAdmin();
    }

    // Messages Collection
    match /messages/{messageId} {
      // Authenticated users can read messages
      allow read: if isAuth();
      // Authenticated users can create messages
      allow create: if isAuth();
      // Only admins can delete messages
      allow delete: if isAdmin();
    }
    
    // Reports Collection
    match /reports/{reportId} {
        // Only admins can read reports
        allow read: if isAdmin();
        // Any authenticated user can create a report
        allow create: if isAuth();
        // Only admins can update or delete reports
        allow update, delete: if isAdmin();
    }
  }
}